body {
  margin: 0;
  box-sizing: border-box;
}

.Nav-Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: beige;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 500;
}

.Nav-Links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  color: olive;
}

.active {
  color: green;
  text-decoration: underline;
}

.In-Active {
  text-decoration: none;
}

.pending {
  color: rgb(241, 122, 148);
}

.Input-Checkbox {
  width: 10%;
  text-align: center;
}
