*,
*::before,
*::after {
  box-sizing: border-box;
}

/* You can customize transitions using CSS pseudo-elements. Define styles for ::view-transition-old and ::view-transition-new to control how elements appear during transitions: */
::view-transition-old {
  animation-duration: 1s;
}

::view-transition-new {
  animation-duration: 2s;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Nav-Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: beige;
  padding: 15px 15px;
  font-size: 18px;
  font-weight: 500;
}

.Nav-Links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 90%;
  color: olive;
}

.active {
  color: green;
  text-decoration: underline;
}

.In-Active {
  text-decoration: none;
}

.pending {
  color: rgb(241, 122, 148);
}

.Input-Checkbox {
  width: 10%;
  text-align: center;
}
